<!DOCTYPE html>
<html>
<head>
    <title>Goals</title>
    <style>
        .header {
            background-color: #c5f1cc;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <div class="header" style="text-align: center;">
        <form style="float: left; margin-top: 10px; margin-left: 10px;" action="/">
            <button type="submit">Back to Food Items</button>
        </form>
        <h1>Goals</h1>
        
    </div>
    

    <h2>Goals</h2>
    <table>
        <thead>
            <tr>
                <th>Goal</th>
                <th>Target Daily Caloric Intake</th>
                <th>Target Date</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in goals %}
            <tr>
                <td>{{ goal[0] }}</td>
                <td>{{ goal[2] }}</td>
                <td>{{ goal[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Edit Goals</h2>
    <form action="/editGoals" method="post" id="editForm">
        <select name="editGoals" id="edit_goal_select" onchange="setDefaultValues()">
            <option value="">Select a Goal</option>
            {% for goal in goals %}
                <option value="{{ goal }}">{{ goal[0] }}</option>
            {% endfor %}
        </select><br>
        <input type="text" id="goalName" name="goalName" placeholder="Goal Name" readonly>
        <input type="text" id="target_daily_cals" name="target_daily_cals" placeholder="Target Daily Calories">
        <input type="date" id="target_date" name="target_date" >
        <button type="submit">Update Goal</button>
    </form>

    <h2>Add New Goal</h2>
    <form action="/addGoal" method="post">
        <input type="text" id="new_goal" name="new_goal" placeholder="Enter new goal" required>
        <input type="text" id="new_target_daily_cals" name="new_target_daily_cals" placeholder="Enter target daily caloric intake">
        <input type="date" id="new_target_date" name="new_target_date" required>
        <button type="submit">Add Goal</button>
    </form>

    <h2>Delete Goal</h2>
    <form action="/deleteGoal" method="post">
        <label for="delete_goal">Delete Goal:</label>
        <select name="delete_goal">
            <option value="">Select a Goal</option>
            {% for goal in goals %}
                <option value="{{ goal }}">{{ goal[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Delete Goal</button>
    </form>
    <!-- <script>
            function navigate() {
                var select = document.querySelector('select');
                var selectedPage = select.options[select.selectedIndex].value;
                if (selectedPage) {
                    window.location.href = selectedPage;
                }
            }
    </script> -->
    <script>
        function setDefaultValues() {
            var select = document.getElementById("edit_goal_select");
            var selectedOption = select.options[select.selectedIndex];
            var selectedGoal = selectedOption.value.split(',');
            var goalName = selectedGoal[0].replace(/['()]/g, '').trim();
            

            var year = selectedGoal[3].replace('datetime.date(', '').trim();       
            var month = selectedGoal[4].trim();
            var day = selectedGoal[5].replace('))', '').trim();
            month = month.padStart(2, '0');
            day = day.padStart(2, '0');
            var formattedDate = year + '-' + month + '-' + day;
            
            document.getElementById("goalName").value = goalName;
            document.getElementById("target_daily_cals").value = selectedGoal[2] ? selectedGoal[2] : '';
            document.getElementById("target_date").value = formattedDate;
        }
    </script>
</head>
<body>
   
</body>
</html>
